

/* 기획전 */

.collection-section {
    width:100%;
    position:relative;
}

/* 블루대전 */
.collection-section.blueCollect {
    height:1650px;
    background:url(../images/collect01_bg.jpg) top center no-repeat;
}


    .collection-section .collection-slider {
        margin:0 auto 0px;
        padding-top:820px;
        width:1020px;
        display: flex;
        flex-direction: row;
    }

    .collection-section .collection-slider .slick-dots {
        bottom:-50px
    }

        .collection-section .collection-slider .slick-dots a.circle {
            width:20px;
            height:20px;
            content:"";
            border-radius: 100%;
            border:1px solid #5131f0;
            display: inline-block;
        }    


        .collection-section .collection-slider .slick-dots li.slick-active a.circle {
            background-color: #5131f0;
        }

        .collection-section .collection-slider .slick-list {
            margin: 0 -20px 0px 0px;
        }

            .collection-section .collection-slider .slick-slide {
                width:500px !important;
                margin-right:20px;
            }



            .collection-section .collection-slider .blue-item {
                background:#fff;
                width:500px;
                margin:0 20px 0 0;
                height:650px;
                border-radius: 20px;
                overflow:hidden;
                flex-shrink: 0;
                cursor: pointer;
            }

                .collection-section .collection-slider .blue-item .itemImg {
                    width:500px;
                    height:500px;
                    overflow:hidden;
                    border-radius: 20px;
                }

                .collection-section .collection-slider .blue-item .itemTxtWrap {
                    display: flex;
                    flex-direction: column;
                    padding:20px;
                }

                    .collection-section .collection-slider .blue-item .itemTxtWrap .itemTitle {
                        color:#222;
                        font-weight: bold;
                        font-size:22px;
                        margin-bottom:10px;
                    }

                    .collection-section .collection-slider .blue-item .itemTxtWrap .iteminfoWrap {
                        display: flex;
                    }

                        .collection-section .collection-slider .blue-item .itemTxtWrap .iteminfoWrap .sale {
                            font-size:38px;
                            color:#5131f0;
                            background-color: transparent;
                        }

                        .collection-section .collection-slider .blue-item .itemTxtWrap .iteminfoWrap .itemPriceWrap {
                            display: flex;
                            flex-direction: row;
                            margin-left:auto;
                            align-self: center;
                            margin-bottom:0px;
                        }

                            .blue-item .itemTxtWrap .iteminfoWrap .itemPriceWrap .discountBefore {
                                font-size:20px;
                                align-self: center;
                            }

                            .blue-item .itemTxtWrap .iteminfoWrap .itemPriceWrap .discountBefore:after {
                                font-size:15px;
                            }

                            .blue-item .itemTxtWrap .iteminfoWrap .itemPriceWrap .discount {
                                font-size:32px;
                                color:#222;
                                align-self: center;
                            }

                            .blue-item .itemTxtWrap .iteminfoWrap .itemPriceWrap .discount:after {
                                font-size:20px;
                            }



    .collection-section .collection-txt {
        width:1000px;
        margin:100px auto 60px;
        color:#222;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .collection-section .collection-txt i {
            font-size:15px;
            margin-right:5px;
        }

        .collection-section .collection-txt span {
            font-size:15px;
        }


.collection-product {
    margin:50px auto 100px;
}

    .collection-product .header {
        font-size: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #888;
        height: 40px;
    }

    .collection-product .cs {
        margin-bottom:50px;
    }

        .collection-product .cs .csProductWrap {
            display: flex;
            flex-direction: row;
        }


    .collection-product .sw {
        margin-bottom:50px;
    }

        .collection-product .sw .swProductWrap {
            display: flex;
            flex-direction: row;
        }

            .collection-product .itemWrap {
                width:240px;
                margin-right:20px;
                cursor: pointer;
                border-radius: 15px;
                background:#fff;
                border:1px solid #eaeaea;
                flex-shrink: 0;
                transition: all 0.4s;
                overflow: hidden;
            }

            .collection-product .itemWrap:last-child {
                margin-right:0px;
            }
                
            .collection-product .itemWrap:hover {
                box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            }
        
                .collection-product .itemWrap .itemImg {
                    width:240px;
                    height:240px;
                    border-radius: 20px;
                    overflow: hidden;
                }

                    .collection-product .itemWrap .itemImg img {
                        width:100%;
                    }

                .collection-product .itemWrap .itemInfo {
                    padding:15px;
                }

                    .collection-product .itemWrap .itemInfo .itemName {
                        height: 43px;
                        display: block;
                    }



/* event  */

    .eventWrap {
        margin: 50px auto;
    }

        .eventWrap .eventHeader {
            border-bottom:1px solid #eaeaea;
            display: flex;
            margin-bottom:40px;
        }

            .eventWrap .eventHeader .txtWrap {
                align-self: center;
                display: flex;
                height:70px;
            }

                .eventWrap .eventHeader .txtWrap .title {
                    font-size:30px;
                    font-weight: bold;
                    color:#222;
                    text-align:center;
                    margin-bottom:10px;
                    margin:0px 20px 0px 0px;
                    align-self: center;
                }

                .eventWrap .eventHeader .txtWrap .title:after {
                    font-weight: normal;
                    content:"|";
                    font-size:20px;
                    color:#222;
                    position:relative;
                    top:-2px;
                }

                .eventWrap .eventHeader .txtWrap .date {
                    font-size:15px;
                    align-self: center;
                    margin-bottom:0px;
                    color:#888;
                }

            .eventWrap .eventHeader .shareIcon {
                display: flex;
                justify-content: space-around;
                width: 240px;
                align-self: center;
                margin-left:auto;
            }

                .eventWrap .eventHeader .shareIcon a {
                    display: flex;
                    background: #fff;
                    color: #ccc;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    border: 1px solid #eaeaea;
                    cursor: pointer;
                }

                    .eventWrap .eventHeader .shareIcon a i {
                        align-self: center;
                        text-align: center;
                        position: relative;
                        top: -1.5px;
                    }



             
        .eventWrap .event-section {
            padding:20px;
            background:#f7f7f7;
            border:1px solid #eaeaea;
            border-top:0px;
        }       

            .eventWrap .event-section .eventImg {
                width:100%;
                display: flex;
                flex-direction: column;
            }
            

                .eventWrap .event-section .eventImg div {
                    display: flex;
                }

                    .eventWrap .event-section .eventImg div img {
                        width:100%;
                    }
                    
                    .eventWrap .event-section .eventImg div a {
                        display: block;
                    }

                        .eventWrap .event-section .eventImg div a img {
                            width:100%;
                        }




        .eventWrap .event-product {
            position: relative;
            margin-top:50px;
        }


            .eventWrap .event-product .header {
                font-size: 20px;
                margin-bottom: 30px;
                border-bottom: 1px solid #888;
                height: 40px;
            }
        

            .eventWrap .event-product .sorbet .header {
                margin-bottom:0px;
            }


            .eventWrap .event-product .event-tabWrap {
                width:100%;
                border-bottom:1px solid #eaeaea;
                height:60px;
                margin-bottom:50px;
            }


                .eventWrap .event-product .eventTab {
                    width: calc(100% - 600px);
                    display: flex;
                    flex-direction: row;
                    margin:0 auto;
                    height:59px;
                }

                    .eventWrap .event-product .eventTab li {
                        height:100%;
                        width:calc(100% / 4);
                        position:relative;
                    }

                    .eventWrap .event-product .eventTab li.on:after {
                        content:"";
                        position:absolute;
                        width:100%;
                        background:#ED6E00;
                        height:3px;
                        bottom:0px;
                        left:0px;
                    }

                        .eventWrap .event-product .eventTab li button {
                            border:none;
                            background:#fff;
                            font-size:15px;
                            color:#999;
                            appearance: none;
                            width:100%;
                            height:100%;
                        }
        
                        .eventWrap .event-product .eventTab li.on button {
                            color:#222;
                        }



            .eventWrap .event-product .newSorbeProductWrap {
                margin:40px 0px 50px;
                display: flex;
            }


            .eventWrap .event-product .sorbeProductWrap {
                margin:40px 0px 50px;
                display: grid;
                grid-template-columns: 290px 290px 290px 290px;
                gap: 40px;
            }

                .eventWrap .event-product .itemWrap {
                    width:290px;
                    border:1px solid #eaeaea;
                    overflow:hidden;
                    border-radius: 20px;
                    margin-right:40px;
                    transition: all 0.3s;
                    flex-shrink: 0;
                    cursor: pointer;
                }

                .eventWrap .event-product .itemWrap:last-child {
                    margin-right:0px;
                }
                    
                .eventWrap .event-product .itemWrap:hover {
                    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                }
            
                    .eventWrap .event-product .itemWrap .itemImg {
                        width:290px;
                        height:290px;
                        border-radius: 20px;
                        overflow: hidden;
                    }

                        .eventWrap .event-product .itemWrap .itemImg img {
                            width:100%;
                        }

                    .eventWrap .event-product .itemWrap .itemInfo {
                        padding:15px;
                    }

                        .eventWrap .event-product .itemWrap .itemInfo .itemName {
                            display: block;
                        }
        



        .eventWrap .eventFooter {
            height:50px;
            border-top:1px solid #eaeaea;
            display: flex;
        }


            .eventWrap .eventFooter button {
                margin-left:auto;
                align-self: center;
                color:#222;
                border:1px solid #eaeaea;
                width:100px;
            }