@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size:15px;
    letter-spacing: -0.5px;
    color:#222;
}

ul {
    list-style: none;
}

a, button {
    cursor:pointer;
}

a:hover {
    text-decoration: none;
}

.w-1280 {
    width:1280px;
}

.itemMoreButtonArea {
    width:100%;
    margin-top:50px;
}

    .itemMoreButtonArea .btn {
        width:180px;
        height:50px;
        font-size:15px;
        color:#222;
        margin:0 auto;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    }

        .itemMoreButtonArea .btn i {
            margin-left:3px;
            font-size:10px;
            position:relative;
            top:-2px;
        }


    /* header */

        header.top {
            width:100%;
            background:#fff;
            border-bottom:1px solid #eaeaea;
        }
    
            header.top .topBanner {
                border-bottom:1px solid #eaeaea;
                height:50px;
                width:100%;
                overflow:hidden;
            }
                header.top .topBanner .imgWrap {
                    width:100%;
                    height:100%;
                    display: block;
                    background-position: top center;
                    background-repeat: no-repeat;
                }

                .bn01 {
                    background-image: url(../images/bannerTop.jpg);
                }



            header.top .gnb {
                width:100%;
                height:90px;
                margin:0 auto;
                position:relative;
            }

                header.top .gnb .gnbWrap {
                    width:1280px;
                    display: flex;
                    flex-direction: row;
                    height:90px;
                    margin:0 auto;
                }

                    header.top .gnb .gnbWrap .logo {
                        width:200px;
                        flex-shrink: 0;
                        align-self: center;
                    }

                    header.top .gnb .gnbWrap .menu {
                        display: flex;
                        flex-direction: row;
                        width:750px;
                        margin-left:100px;
                        flex-shrink: 0;
                        height: 90px;
                        justify-content: center;
                        align-items: center;
                    }
                        header.top .gnb .gnbWrap .menu li {
                            width:calc(100% / 5);
                            height: 100%;
                        }

                            header.top .gnb .gnbWrap .menu li a {
                                color:#222;
                                display:block;
                                width:100%;
                                height:100%;
                                box-sizing:border-box;
                                text-align:center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            header.top .gnb .gnbWrap .menu li a.on {
                                border-bottom:3px solid #ED6E00;
                                font-weight: bold;
                            }

                    header.top .gnb .gnbWrap .iconWrap {
                        display: flex;
                        flex-direction: row;
                        margin-left:auto;
                        color:#222;
                        flex-shrink: 0;
                        align-self: center;
                        width:180px;
                    }
                        header.top .gnb .gnbWrap .iconWrap .mobileBtn {
                            display: none;
                        }

                        header.top .gnb .gnbWrap .iconWrap a {
                            width:calc(100% / 3);
                            display: block;
                            text-align: right;
                        }

                            header.top .gnb .gnbWrap .iconWrap a i {
                                font-size:19px;
                                color:#222;
                            }

                            header.top .gnb .gnbWrap .iconWrap a.myPageIcon i {
                                font-size: 23px;
                                position: relative;
                                top: -2px;
                            }


                /* submenu */  

                header.top .gnb .subGnb {
                    width:100%;
                    position:absolute;
                    left:0px;
                    top:91px;
                    background:#EAEAEA;
                    padding:20px 0;
                    display: none;
                    z-index:1;
                    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
                }
                    header.top .gnb .subGnb .subMenu {
                        width:1280px;
                        margin:0 auto;
                    }

                        header.top .gnb .subGnb .subMenu .wrap {
                            width:750px;
                            display: flex;
                            flex-direction: row;
                            margin-left:300px;
                        }
                            header.top .gnb .subGnb .subMenu .wrap .sub {
                                width:calc(100% / 5);
                            }

                                header.top .gnb .subGnb .subMenu .wrap .sub li {
                                    padding:5px 10px;
                                    text-align:center;
                                }

                                    header.top .gnb .subGnb .subMenu .wrap .sub li a {
                                        color:#222;
                                        cursor:pointer;
                                    }

                                    header.top .gnb .subGnb .subMenu .wrap .sub li a:hover {
                                        text-decoration: underline;
                                    }


    /* section */

    .section {
        margin:0px;
    }                  
        /* nav */                

        nav.sliderBanner {
            height:600px;
            width:100%;
            overflow:hidden;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }

            .slider {
                width:100%;
                height:600px;
                background-position: top center;
                background-repeat: no-repeat;
            }

            .slide01 {
                background-image:url(../images/slider01.jpg);
            }

            .slide02 {
                background-image:url(../images/slider02.jpg);
            }

            .slide03 {
                background-image:url(../images/slider03.jpg);
                color:#fff !important;
            }

                .slider .wrap {
                    width:1280px;
                    height: 600px;
                    margin:0 auto;
                    display:flex;
                    align-items: center;
                }

                    .slider .wrap .sliderInfo {
                        margin-left:40px;
                    }
                        .slider .wrap .sliderInfo .cate {
                            color:#222;
                            font-size:13px;
                            letter-spacing:5px;
                            text-transform: uppercase;
                        }

                        .slider .wrap .sliderInfo .line {
                            background:#222;
                            width:1px;
                            height:50px;
                            margin:5px 0px 5px 20px;
                        }

                        .slider .wrap .sliderInfo .slideTitle {
                            color:#222;
                            font-size:70px;
                            font-weight: normal;
                            letter-spacing: -5px;;
                        }

                        .slider .wrap .sliderInfo .slideTxt {
                            color:#222;
                            font-size:15px;
                            margin-top:10px;
                        }

                        .slider .wrap .sliderInfo .btn-line {
                            border:1px solid #222;
                            color:#222;
                            margin-top:20px;
                            width:128px;
                            height:48px;
                            font-size:15px;
                            padding:12px;
                        }

                        .slider .wrap .sliderInfo .b-white {
                            color:#fff;
                        }
            
                        .slider .wrap .sliderInfo .btn-white {
                            border-color:#fff;
                            color:#fff;
                        }
            
                        .slider .wrap .sliderInfo .line-white {
                            background:#fff;
                        }



        /* content */                          
        
            .section .contentWrap {
                margin:100px 0px 0px;
            }

                .section .contentWrap .content {
                    margin:0 auto 100px;
                }

                    /* common subTitle */

                    .subTitle {
                        width:100%;
                        margin-bottom:50px;
                        text-align:center;
                    }

                        .subTitle .titleTxt {
                            font-weight: bold;
                            font-size:30px;
                            margin-bottom:15px;
                        }

                        .subTitle .txt {
                            font-size:15px;
                        }


                .section01 {
                    content:"";
                } 

                    .section01 .itemSlider {
                        position:relative;
                    }
                        

                        .section01 .itemSlider .items {
                            width:calc(100% - 150px);
                            height:300px;
                            overflow:hidden;
                            margin:0 auto;
                        }

                            .section01 .itemSlider .items .itemBox {
                                border-radius: 20px;
                                overflow:hidden;
                                display: flex !important;
                                flex-direction: column;
                                justify-content: center;
                                width:350px !important;
                                height:300px;
                                flex-shrink: 0;
                                background-size:350px 350px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                position:relative;
                                margin-right:40px;
                                transition: all 0.4s;
                                cursor:pointer;
                            }

                            .section01 .itemSlider .items .itemBox.on {
                                background-size:500px 500px;
                            }


                            .section01 .itemSlider .items .itemBox:before {
                                display:none;
                            }

                            .section01 .itemSlider .items .itemBox.on:before {
                                display:block;
                                position:absolute;
                                background:rgba(0,0,0,0.3);
                                width:100%;
                                height:100%;
                                content:"";
                            }

                                .section01 .itemSlider .items .itemBox .itemTxtWrap {
                                    display: none;
                                }

                                .section01 .itemSlider .items .itemBox.on .itemTxtWrap {
                                    margin:auto;
                                    align-self:center;
                                    position:relative;
                                    z-index:1;
                                    display:block;
                                }

                                    .section01 .itemSlider .items .itemBox .itemTxtWrap .itemTitle {
                                        color:#fff;
                                        font-size:15px;
                                        margin-bottom:5px;
                                    }
                                    .section01 .itemSlider .items .itemBox .itemTxtWrap .itemPriceWrap {
                                        display: flex;
                                        flex-direction: row;
                                        margin:auto;
                                        justify-content: center;
                                    }

                                        .itemTxtWrap .itemPriceWrap .discountBefore {
                                            color:#ccc;
                                            text-decoration: line-through;
                                            font-style: normal;
                                            font-size:13px;
                                            margin-right:8px;
                                            padding-top:5px;
                                            display:inline-block;
                                        }

                                        .itemTxtWrap .itemPriceWrap .discountBefore:after {
                                            content:"원";
                                            font-size:12px;
                                            margin-left:3px;
                                            text-decoration: none;
                                        }

                                        .itemTxtWrap .itemPriceWrap .discountBefore:empty {
                                            display: none;
                                        }

                                        .itemTxtWrap .itemPriceWrap .discount {
                                            font-weight: bold;
                                            font-size:20px;
                                            color:#fff;
                                        }

                                        .itemTxtWrap .itemPriceWrap .discount:after {
                                            content:"원";
                                            font-size:13px;
                                            margin-left:3px;
                                            font-weight: normal;
                                        } 


                        .section01 .itemSlider .itemArrrow {
                            position:relative;
                            width:100%;
                        }

                            .section01 .itemSlider .itemArrrow .itemPrev {
                                color:#222;
                                align-self:center;
                                margin-right:auto;
                                font-size:30px;
                                width:75px;
                                text-align: center;
                                position:absolute;
                                left:0px;
                                top:-180px;
                            }

                            .section01 .itemSlider .itemArrrow .itemNext {
                                color:#222;
                                align-self:center;
                                margin-left:auto;
                                font-size:30px;
                                width:75px;
                                text-align: center;
                                position:absolute;
                                right:0px;
                                top:-180px;
                            }                       


                .bannerArea01 {
                    position:relative;
                } 
                      
                    .bannerArea01 .middleBnContent {
                        position:relative;
                    }

                        .bannerArea01 .bannerWrap {
                            border-radius: 20px;
                            overflow:hidden;
                            width:100%;
                        }
                
                        .bannerArea01 .middleBnContent .bannerPrev,
                        .bannerArea01 .middleBnContent .bannerNext  {
                            background:rgba(255,255,255,0.6);
                            color:#222;
                            width:50px;
                            height:100px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            position:absolute;
                            font-size:20px;
                        }

                        .bannerArea01 .middleBnContent .bannerPrev {
                            left:0px;
                            top:0px;
                        }

                        .bannerArea01 .middleBnContent .bannerNext {
                            right:0px;
                            top:0px;
                        }

                            .bannerArea01 .middleBnContent .bannerPrev i,
                            .bannerArea01 .middleBnContent .bannerNext i {
                                align-self: center;
                            }



                .section02 {
                    position:relative;
                } 

                    .section02 .itemList {
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

                        .section02 .itemList .itemWrap {
                            width:290px;
                            display: flex;
                            flex-direction: column;
                            flex-shrink: 0;
                            margin:0px 40px 40px 0px;
                        }


                        .section02 .itemList .itemWrap:nth-child(4),
                        .section02 .itemList .itemWrap:nth-child(8) {
                            margin-right:0px;
                        }

                            .section02 .itemList .itemWrap .itemImg {
                                width:290px;
                                height:290px;
                                border-radius: 20px;
                                background-size:290px 290px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                cursor:pointer;
                                transition: all 0.4s;
                            }

                            .section02 .itemList .itemWrap .itemImg:hover {
                                box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
                                background-size:500px 500px;
                            }

                            .section02 .itemList .itemWrap .itemInfo {
                                margin-top:15px;
                                display: flex;
                                flex-direction: column;
                            }

                                .itemWrap .itemInfo .itemCate {
                                    color:#888;
                                    font-size:13px;
                                    margin-bottom:5px;
                                }

                                .itemWrap .itemInfo .itemName {
                                    font-size:15px;
                                    margin-bottom:10px;
                                    color:#222;
                                }

                                .itemWrap:hover .itemInfo .itemName {
                                    text-decoration: underline;
                                }


                                .itemWrap .itemInfo .itemPrice {
                                    display: flex;
                                    flex-direction: row;
                                }

                                    .itemWrap .itemInfo .itemPrice .discountBefore {
                                        align-self: center;
                                        color:#888;
                                        font-size:13px;
                                        text-decoration: line-through;
                                        margin-right:10px;
                                        font-style: normal;
                                    }

                                    .itemWrap .itemInfo .itemPrice .discountBefore:empty {
                                        display: none;
                                    }

                                    .itemWrap .itemInfo .itemPrice .discountBefore:after {
                                        content:'원';
                                        text-decoration: none;
                                        margin-left:3px;
                                    }

                                    .itemWrap .itemInfo .itemPrice .discount {
                                        font-weight: bold;
                                        font-size:20px;
                                    }

                                    .itemWrap .itemInfo .itemPrice .discount:after {
                                        content:'원';
                                        text-decoration: none;
                                        font-size:15px;
                                        font-weight: normal;
                                        margin-left:3px;
                                    }



                .collectionArea {
                    position:relative;
                } 

                    .collectionArea .collectionContent {
                        display: flex;
                        flex-direction: column;
                    }

                        .collectionArea .collectionContent .collection-sec {
                            margin-bottom:100px;
                            display: flex;
                            flex-direction: row;
                        }

                        .collectionArea .collectionContent .collection-sec.right-sec {
                            margin-bottom:0px;
                        }

                        .collectionArea .collectionContent .collection-sec .collectionImg {
                            border-radius: 20px;
                            overflow:hidden;
                            width:620px;
                            flex-shrink: 0;
                        }

                        .collectionArea .collectionContent .collection-sec.right-sec .collectionImg {
                            order:1;
                        }

                        .collectionArea .collectionContent .collection-sec .collectionTxtWrap {
                            margin:0 100px;
                            align-self:center;
                        }

                        .collectionArea .collectionContent .collection-sec.right-sec .collectionTxtWrap {
                            order:0;
                        }

                            .collectionArea .collectionContent .collection-sec .collectionTxtWrap .title {
                                font-size:35px;
                            }

                            .collectionArea .collectionContent .collection-sec .collectionTxtWrap .txt {
                                margin:25px 0px;
                                font-size:15px;
                            }

                            .collectionArea .collectionContent .collection-sec .collectionTxtWrap .btn {
                                background:#f7f7f7;
                                font-size:15px;
                                color:#222;
                                height:40px;
                                padding: 8px 12px;
                            }

                                .collectionArea .collectionContent .collection-sec .collectionTxtWrap .btn i {
                                    margin-left:5px;
                                    font-size:10px;
                                    position:relative;
                                    top:-2px;
                                }



                .section03 {
                    position:realtive;
                } 

                    .section03 .cateNavWrap {
                        width:100%;
                        border-bottom:1px solid #eaeaea;
                        height:60px;
                        margin-bottom:50px;
                    }


                        .section03 .cateNav {
                            width: calc(100% - 300px);
                            display: flex;
                            flex-direction: row;
                            margin:0 auto;
                            height:59px;
                        }

                            .section03 .cateNav li {
                                height:100%;
                                width:calc(100% / 5);
                                position:relative;
                            }

                            .section03 .cateNav li.on:after {
                                content:"";
                                position:absolute;
                                width:100%;
                                background:#ED6E00;
                                height:3px;
                                bottom:0px;
                                left:0px;
                            }

                                .section03 .cateNav li button {
                                    border:none;
                                    background:#fff;
                                    font-size:15px;
                                    color:#999;
                                    appearance: none;
                                    width:100%;
                                    height:100%;
                                }
                
                                .section03 .cateNav li.on button {
                                    color:#222;
                                }


                        .section03 .cateItem {
                            display: grid;
                            grid-template-columns: 600px 320px 320px;
                        }

                            .cateItem .cate-itemWrap {
                                border:1px solid #eaeaea;
                                border-radius: 20px;
                                position:relative;
                                display: flex;
                                flex-direction: column;
                                overflow:hidden;
                                justify-content: center;
                                cursor:pointer;
                                transition: all 0.3s;
                            }

                            .cateItem .cate-itemWrap:hover {
                                box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
                            }

                            .cateItem .cate-itemWrap:nth-child(1) {
                                grid-column: 1;
                                grid-row: 1 / 3;
                                height:580px;
                                margin-right:20px
                            }

                            .cateItem .cate-itemWrap:nth-child(2) {
                                margin-right:20px;
                                margin-bottom:20px;
                            }

                            .cateItem .cate-itemWrap:nth-child(3) {
                                margin-bottom:20px;
                            }

                            .cateItem .cate-itemWrap:nth-child(4) {
                                margin-right:20px;
                            }

                                .cateItem .cate-itemWrap .itemImg {
                                    width:100%;
                                    height:100%;
                                    align-self: center;
                                    background-repeat: no-repeat;
                                    background-size:250px 250px;
                                    background-position: center -30px;
                                }

                                .cateItem .cate-itemWrap:nth-child(1) .itemImg {
                                    background-size: 500px 500px;
                                    background-position: center -30px;
                                }


                                .cateItem .cate-itemWrap .itemInfo {
                                    position:absolute;
                                    bottom:0;
                                    left:0;
                                    padding:15px 20px;
                                    width: calc(100% - 40px);
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemName {
                                    color:#222;
                                    font-size:15px;
                                }

                                .cateItem .cate-itemWrap:hover .itemInfo .itemName {
                                    text-decoration: underline;
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemPrice {
                                    display: flex;
                                    flex-direction: row;
                                    margin:5px 0px 0px;
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemPrice .discountBefore {
                                    color:#888;
                                    text-decoration: line-through;
                                    font-size:13px;
                                    font-style: normal;
                                    margin-right:5px;
                                    align-self: center;
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemPrice .discountBefore:after {
                                    content:"원";
                                    font-size:13px;
                                    margin-left:3px;
                                    text-decoration: none;
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemPrice .discount {
                                    color:#222;
                                    font-size:20px;
                                    font-weight: bold;
                                }

                                .cateItem .cate-itemWrap .itemInfo .itemPrice .discount:after {
                                    content:"원";
                                    font-size:15px;
                                    margin-left:3px;
                                } 




                .videoArea {
                    width:100%;
                }   
                
                .instagramArea {
                    position: relative;
                }  
      
                
    /* footer */


        footer.footer {
            width:100%;
        }

            footer.footer .footerGnb {
                border-top:1px solid #eaeaea;
                border-bottom:1px solid #eaeaea;
                padding:15px 0;
            }

                footer.footer .footerGnb .wrap {
                    display: flex;
                    flex-direction: row;
                    margin:0 auto;
                }

                    footer.footer .footerGnb .wrap .f-gnb {
                        margin-right:auto;
                        display:flex;
                        flex-direction: row;
                        margin-bottom:0px;
                    } 

                        footer.footer .footerGnb .wrap .f-gnb li {
                            align-self: center;
                        }

                        footer.footer .footerGnb .wrap .f-gnb li:after {
                            content:"|";
                            color:#eee;
                            margin:0 8px;
                            font-size:10px;
                            position: relative;
                            top: -2px;
                        }

                        footer.footer .footerGnb .wrap .f-gnb li:last-child:after {
                            display:none;
                        }

                            footer.footer .footerGnb .wrap .f-gnb li a {
                                color:#888;
                                font-size:13px;
                            }

                            footer.footer .footerGnb .wrap .f-gnb li:nth-of-type(4) a {
                                font-weight: bold;
                                color:#222;
                            }
                            
                            footer.footer .footerGnb .wrap .f-gnb li a:hover {
                                text-decoration: underline;
                            }



                    footer.footer .footerGnb .wrap .snsIconWrap {
                        margin-left:auto;
                        display:flex;
                        flex-direction: row;
                    }

                    footer.footer .footerGnb .wrap .snsIconWrap a {
                        border:1px solid #eaeaea;
                        border-radius: 100%;
                        width:32px;
                        height:32px;
                        vertical-align: middle;
                        text-align: center;
                        margin-left:20px;
                        position:relative;
                        transition: all 0.4s;
                    }

                        footer.footer .footerGnb .wrap .snsIconWrap a i {
                            color:#d9d9d9;
                            font-size:16px;
                            position:absolute;
                            left:49.5%;
                            top:49.5%;
                            transform:translate(-49.5%, -49.5%);
                            margin-top: -1.5px;
                        }

                        footer.footer .footerGnb .wrap .snsIconWrap a.snsIcon-blog i {
                            font-size:22px;
                        }



            footer.footer .footerWrap {
                padding:20px 0;
            }

                footer.footer .footerWrap .wrap {
                    margin:0 auto;
                    display: flex;
                    flex-direction: row;
                }

                    footer.footer .footerWrap .wrap .companyInfo {
                        margin-right:auto;
                        color:#999;
                        width:70%;
                    }

                        footer.footer .footerWrap .wrap .companyInfo .companyName {
                            font-size:15px;
                            color:#222;
                            margin-bottom:15px;
                        }

                        footer.footer .footerWrap .wrap .companyInfo .companyInfoTxt {
                            color:#999;
                            display: flex;
                            flex-direction: row;
                            font-size:13px;
                            flex-wrap:wrap;
                        }

                            footer.footer .footerWrap .wrap .companyInfo .companyInfoTxt li {
                                margin-bottom:3px;
                            }

                            footer.footer .footerWrap .wrap .companyInfo .companyInfoTxt li:after {
                                content:"|";
                                color:#eee;
                                margin:0 8px;
                                font-size:10px;
                                position: relative;
                                top: -2px;
                            }

                            footer.footer .footerWrap .wrap .companyInfo .companyInfoTxt li:nth-of-type(4):after {
                                display:none;
                            }

                            footer.footer .footerWrap .wrap .companyInfo .companyInfoTxt li:last-child:after {
                                display:none;
                            }
 

                    footer.footer .footerWrap .wrap .csCenterInfo {
                        margin-left:auto;
                        width:25%;
                    }


                        footer.footer .footerWrap .wrap .csCenterInfo div {
                            display: flex;
                            flex-direction: row;
                        }

                        footer.footer .footerWrap .wrap .csCenterInfo div.csCall {
                            margin:20px 0 10px 20px;
                        }

                        footer.footer .footerWrap .wrap .csCenterInfo div.csWorkTime {
                            margin-left:20px;
                        }

                        footer.footer .footerWrap .wrap .csCenterInfo .btn-cs {
                            margin-left:20px;
                            color:#222;
                            font-size:13px;
                        }
                            footer.footer .footerWrap .wrap .csCenterInfo .btn-cs i {
                                margin-left:5px;
                                font-size:10px;
                                position:relative;
                                top:-2px;
                            }

                        footer.footer .footerWrap .wrap .csCenterInfo .btn-cs:hover {
                            text-decoration: underline;
                        }

                            footer.footer .footerWrap .wrap .csCenterInfo .csCall h3 {
                                font-size:20px;
                                margin:0px;
                            }

                            footer.footer .footerWrap .wrap .csCenterInfo .csCall p {
                                font-size:15px;
                                align-self:center;
                                margin:0px 10px 0px 0px;
                            }

                            footer.footer .footerWrap .wrap .csCenterInfo .csWorkTime p {
                                font-size:13px;
                                margin:0px 10px 0px 0px;
                                align-self:center;
                            }

                            footer.footer .footerWrap .wrap .csCenterInfo .csWorkTime span {
                                font-size:13px;
                                align-self:center;
                            }